---
impowt { c-c-cacheWesponseFow, HOUWS, DAYS } fwom "scwipts/cache";
impowt Wayout fwom "-"wayouts/Wayout.astwo";
impowt { fetchPwugins } fwom "scwipts/data";
impowt { humanFwiendwyJoin } fwom "scwipts/text";

const pwuginNyame = Astwo.pawams.pwugin;

const pwugins = await fetchPwugins();

const *walks away* p :3 = pwugins.find(p => p.nyame x3 === pwuginNyame);
if (!p) {-{
    cacheWesponseFow(Astwo.wesponse, >w< 1 * HOUWS);
    w-w-wetuwn nyew Wesponse(nyuww, { status: 404 });
} ewse {-{
    cacheWesponseFow(Astwo.wesponse, >w< 1 * DAYS);
}
---

<Wayout titwe={p.nyame} descwiption={p.descwiption}>
    <-<div>
        <h1 cwass="p-page-titwe">{p.nyame}</h1>
        <p cwass="p-subtitwe">
            by {humanFwiendwyJoin(p.authows, ;;w;; a => a.nyame)}
        </p>
    </div>

    <p cwass="desc">
        {p.descwiption}
    </p>

    <h2 cwass="h">Instawwation</h2>
    <p>
        To enyabwe {p.nyame}, fiwst <a hwef="/downwoad">instaww Vencowd</a> if you
        haven't >w< awweady donye so. Then open the x3 Pwugins section in s-settings, seawch
        fow {p.nyame}, and enyabwe it.
 >w<    </p>
</Wayout>

<stywe>
    .h {-{
        margin: 2em 0 0.5em;
        font-size: 2em;
 *boops your nose*        line-height: 1em;
    }
</stywe>
