---
import { parse as parseMarkdown } from "marked";
import { cacheResponseFor, HOURS, MINUTES } from "scripts/cache";
import Layout from "layouts/Layout.astro";
import { fetchPluginReadme, fetchPlugins } from "scripts/data";
import { humanFriendlyJoin } from "scripts/text";
import { GITHUB_URL } from "scripts/constants";

const pluginName = Astro.params.plugin;

const plugins = await fetchPlugins();

const p = plugins.find(p => p.name === pluginName);
if (!p) {
    cacheResponseFor(Astro.response, 5 * MINUTES);
    return new Response(null, { status: 404 });
} else {
    cacheResponseFor(Astro.response, 1 * HOURS);
}
const readme = await fetchPluginReadme(p.name);
const processedReadme = readme?.replace(
    new RegExp(String.raw`\n(https://github\.com/\S+/assets/\d+/[\w-]+)`, "g"),
    '\n<video controls><source src="$1" type="video/mp4"></video>\n'
);

const readmeHtml = processedReadme && parseMarkdown(processedReadme);
---

<Layout
    title={p.name}
    description={p.description}
    breadcrumbs={[
        ["Plugins", "/plugins"],
        [p.name, "/plugins/" + pluginName],
    ]}
>
    <div class="header">
        <div>
            <h1 class="p-page-title">{p.name}</h1>
            <p class="p-subtitle">
                by {humanFriendlyJoin(p.authors, a => a.name)}
            </p>
        </div>
        <a href={`${GITHUB_URL}/tree/main/src/plugins/${p.filePath}`}>
            <svg viewBox="0 0 496 512">
                <title>View Source Code</title>
                <path
                    fill="currentColor"
                    d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"
                ></path>
            </svg>
        </a>
    </div>

    {
        readmeHtml ? (
            <article set:html={readmeHtml} />
        ) : (
            <p class="desc">{p.description}</p>
        )
    }

    <h2 class="h">Installation</h2>
    <p>
        To enable {p.name}, first <a href="/download">install Vencord</a> if you
        haven't already done so. Then open the Plugins section in settings, search
        for {p.name}, and enable it.
    </p>
</Layout>

<style>
    .h {
        margin: 2em 0 0.5em;
        font-size: 2em;
        line-height: 1em;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    svg {
        height: 2em;
        color: var(--fg0);
        transition: filter 0.2s ease-in-out;
    }

    a:hover svg {
        filter: brightness(1.2);
    }

    article {
        background: var(--bgCurrentWord);
        padding: 2em;
        border-radius: 16px;
    }

    /*
     * most of these styles are adapted from https://github.com/sindresorhus/github-markdown-css/blob/main/github-markdown-dark.css
     * SPDX-License-Identifier: MIT
     * Copyright (c) Sindre Sorhus <sindresorhus@gmail.com> (https://sindresorhus.com)
     */

    article :global(:is(h1, h2, h3, h4, h5, h6)) {
        margin-top: 24px;
        margin-bottom: 16px;
        font-weight: 600;
        line-height: 1.25;
        border-bottom: 1px solid var(--fg0-muted2);
    }

    article :global(h1) {
        margin: 0.67em 0;
        font-weight: 600;
        padding-bottom: 0.3em;
        font-size: 2em;
    }

    article :global(h2) {
        font-weight: 600;
        padding-bottom: 0.3em;
        font-size: 1.5em;
    }

    article :global(h3) {
        font-weight: 600;
        font-size: 1.25em;
    }

    article :global(h4) {
        font-weight: 600;
        font-size: 1em;
    }

    article :global(h5) {
        font-weight: 600;
        font-size: 0.875em;
    }

    article :global(h6) {
        font-weight: 600;
        font-size: 0.85em;
    }

    article :global(p) {
        margin-top: 0;
        margin-bottom: 10px;
    }

    article :global(:is(img, video)) {
        max-width: 100%;
    }
</style>
