---
import { parse as parseMarkdown } from "marked";
import { cacheResponseFor, HOURS, DAYS } from "scripts/cache";
import Layout from "layouts/Layout.astro";
import { fetchPluginReadme, fetchPlugins } from "scripts/data";
import { humanFriendlyJoin } from "scripts/text";

const pluginName = Astro.params.plugin;

const plugins = await fetchPlugins();

const p = plugins.find(p => p.name === pluginName);
if (!p) {
    cacheResponseFor(Astro.response, 1 * HOURS);
    return new Response(null, { status: 404 });
} else {
    cacheResponseFor(Astro.response, 1 * DAYS);
}
const readme = await fetchPluginReadme(p.name);
const readmeHtml = readme && parseMarkdown(readme);
---

<Layout title={p.name} description={p.description}>
    <div>
        <h1 class="p-page-title">{p.name}</h1>
        <p class="p-subtitle">
            by {humanFriendlyJoin(p.authors, a => a.name)}
        </p>
    </div>

    {
        readmeHtml ? (
            <section set:html={readmeHtml} />
        ) : (
            <p class="desc">{p.description}</p>
        )
    }

    <h2 class="h">Installation</h2>
    <p>
        To enable {p.name}, first <a href="/download">install Vencord</a> if you
        haven't already done so. Then open the Plugins section in settings, search
        for {p.name}, and enable it.
    </p>
</Layout>

<style>
    .h {
        margin: 2em 0 0.5em;
        font-size: 2em;
        line-height: 1em;
    }

    section {
        background: var(--bg0);
        padding: 2em;
        border-radius: 8px;
        box-shadow: 0 0 0 1px var(--grey0);
    }

    /*
     * most of these styles are adapted from https://github.com/sindresorhus/github-markdown-css/blob/main/github-markdown-dark.css
     * SPDX-License-Identifier: MIT
     * Copyright (c) Sindre Sorhus <sindresorhus@gmail.com> (https://sindresorhus.com)
     */

    section :global(:is(h1, h2, h3, h4, h5, h6)) {
        margin-top: 24px;
        margin-bottom: 16px;
        font-weight: 600;
        line-height: 1.25;
        border-bottom: 1px solid var(--fg0-muted2);
    }

    section :global(h1) {
        margin: 0.67em 0;
        font-weight: 600;
        padding-bottom: 0.3em;
        font-size: 2em;
    }

    section :global(h2) {
        font-weight: 600;
        padding-bottom: 0.3em;
        font-size: 1.5em;
    }

    section :global(h3) {
        font-weight: 600;
        font-size: 1.25em;
    }

    section :global(h4) {
        font-weight: 600;
        font-size: 1em;
    }

    section :global(h5) {
        font-weight: 600;
        font-size: 0.875em;
    }

    section :global(h6) {
        font-weight: 600;
        font-size: 0.85em;
    }

    section :global(p) {
        margin-top: 0;
        margin-bottom: 10px;
    }

    section :global(img) {
        max-width: 100%;
    }
</style>
