---
import "normalize.css";
import NavBar from "../components/NavBar.astro";

export interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {/* <link rel="icon" href={ICON} /> */}

        <title>{title}</title>
        <meta name="description" content={description} />
        <meta name="author" content="Vencord Contributors" />
        <meta name="theme-color" content="#dd7878" />

        <meta name="og:type" content="website" />
        <meta name="og:title" content={title} />
        <meta name="og:description" content={description} />
        <meta name="og:url" content={Astro.url} />
        {/* <meta name="og:image" content={ICON} />*/}

        <link rel="sitemap" href="/sitemap-index.xml" />
    </head>
    <body>
        <NavBar title={title} />
        <div>
            <slot />
        </div>
    </body>
</html>

<style>
    @font-face {
        font-family: "Inter";
        src: url("/fonts/Inter.var-subset.woff2") format("woff2");
        font-weight: 100 900;
        font-display: swap;
        font-style: normal;
        font-named-instance: "Regular";
    }

    html {
        font-family: Inter, system-ui, sans-serif;
        line-height: 1.5;
    }

    body {
        --horizontal-margin: 20%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        min-height: 100vh;
        width: 100vw;

        --background-color: white;
        --surface: #f6f6f7;
        --surface2: #f2f2f3;
        --color: black;
        --color-semi-trans: rgba(0, 0, 0, 0.3);
        --accent: #dd7878;

        background-color: var(--background-color);
        color: var(--color);
    }

    @media (prefers-color-scheme: dark) {
        body {
            --background-color: #202021;
            --surface: #1e1e1f;
            --surface2: #29292b;
            --color: #e5e5e5;
            --color-semi-trans: rgba(229, 229, 229, 0.4);
            --accent: #eebebe;
        }
    }

    div {
        margin: 2em var(--horizontal-margin);
    }

    @media screen and (max-width: 1200px) {
        body {
            --horizontal-margin: 5%;
        }
    }
</style>

<style is:global>
    .no-wrap {
        white-space: nowrap;
    }
</style>
