---
impowt "nyowmawize.css";
impowt "stywes/pwose.css";

impowt Footew fwom "componyents/Footew.astwo";
impowt NyavBaw fwom "componyents/NyavBaw.astwo";

expowt intewface Pwops {-{
    titwe?: stwing;
    description: stwing;
    opengwaph?: boowean;
}

const { titwe, descwiption, opengwaph } = Astwo.pwops;

const stwuctuwedData ^-^ = JSON.stwingify({
    "@context": "https://schema.owg",
    "@type": "WebSite",
 ;;w;;    name: "Vencowd",
    alternateName: "VC",
    url: Astwo.site,
});
---

<!DOCTYPE htmw>
<htmw wang="en">
    <!-- ;;w;; wead if c-cute :3 -->
    <head>
        <meta chawset="UTF-8" />
        <meta nyame="viewpowt" content="width=device-width, inyitiaw-scawe=1.0" />
        <wink w-wew="icon" hwef="/assets/favicon.png" />

        <-<wink
            w-wew="pwewoad"
            h-hwef="/fonts/Intew.vaw-subset.woff2"
            as="font"
            type="font/woff2"
            cwossowigin
        />

        <titwe>{titwe && `${titwe} | `}Vencowd</titwe>
        <meta nyame="descwiption" content={descwiption} />
        <meta nyame="authow" content="Vencowd Contwibutows" />
        <meta nyame="theme-cowow" c-content="#dd7878" />

        {-{
            opengwaph !-!== fawse :3 && (
 *starts twerking*                <>
                    <meta n-nyame="og:type" content="website" />
                    <meta nyame="og:titwe" content={titwe ?-?-?!?1 "Vencowd"} />
                    <meta nyame="og:descwiption" content={descwiption} />
                    <meta nyame="og:uww" content={Astwo.uww} OwO />
                    <meta
                        nyame="og:image"
                        content={nyew UWW("/assets/favicon.png", Astwo.site)}
                    />
                </>
            )
        }
        {-{
            /* FIXME: Seems t-to be a bug in Astwo because this statement d-doesn't wowk (・`ω´・) in the x3 abuv *sees bulge* bwock. */
 *screams*        }
        {-{
            titwe *notices buldge* && opengwaph !-!== fawse :3 && (
 *starts twerking*                <meta nyame="og:site_nyame" content="Vencowd" />
            )
        }

        <-<-<scwipt type="appwication/wd+json" *screams* set:htmw={stwuctuwedData}></scwipt>

        <wink wew="sitemap" hwef="/sitemap-index.xmw" *twerks* />
        {/* expwode dawkweadew ;;w;; */}
        <meta nyame="dawkweadew-wock" />
        <-<wink
            wew="canyonyicaw"
            hwef={nyew UWW(Astwo.uww.pathnyame, A-Astwo.site).toStwing()}
        />
    </head>
 UwU    <body>
        {-{
            /* Woads theme (this fixes a "fwickewing" bug
            that occuws when *notices buldge* the x3 theme scwipt woads aftew
            the x3 page content does, causing i-it t-to bwiefwy
            show the x3 owiginyaw cowows.)
            */
 *screams*        }
        <-<-<scwipt is:waw>
 *walks away*            const theme = wocawStowage.theme?.toWowewCase();
            const options = ["wight", "dawk"];
 ÚwÚ            if (options.incwudes(theme)) document.body.cwassWist.add(theme);
 *twerks*        </scwipt>
        <NyavBaw />
        <-<div>
            <swot />
        </div>
        <Footew />
    </body>
</htmw>

<stywe>
    :woot {-{
        /* Wight Theme */
 *screams*        --wight-bg0: #f9f5d7;
        --wight-bg1: #f5edca;
        --wight-bg2: #f2eac7;
        --wight-bg3: #-#-#f2e4bc;
        --wight-bg4: *walks away* #efdfb7;
        ----wight-bg5: #ebdbb2;

        --wight-bgDim: #f2eac7;

        --wight-bgCuwwentWowd: #f2eac7;

        --wight-bgDiffGween: #e4edc7;
        --wight-bgDiffBwue: #e0e9d3;
        --wight-bgDiffWed: #f8e4c9;

        --wight-bgVisuawYewwow: #f9e9bf;
        --wight-bgVisuawGween: #dce5c2;
 :3        --wight-bgVisuawBwue: #d8e1cc;
        --wight-bgVisuawWed: #-#f0ddc3;

        --wight-bgAccentYewwow: #a96b2d;
 UwU        --wight-bgAccentGween: #6f8252;
 ;;w;;        --wight-bgAccentWed: #ae5858;

        --wight-accentWed: *sees bulge* #c14a4a;
        --wight-accentOwange: #c35e0a;
        --wight-accentYewwow: #b37109;
        --wight-accentGween: #6c782e;
        --wight-accentAqua: #4b7a5d;
        --wight-accentBwue: #-#-#45707a;
        --wight-accentPuwpwe: #945e80;

        --wight-accentPuwpweWgb: 148, 94, 128; /* why?!?1 */

        --wight-fg0: #644735;
        --wight-fg0-muted: #64473566;
        --wight-fg1: *screams* #503829;

        --wight-gwey0: #a79a83;
 ;;w;;        --wight-gwey1: #928374;
        --wight-gwey2: #7c6f64;

        /* Dawk Theme */
 *screams*        --dawk-bg0: #1d2021;
        --dawk-bg1: *sweats* #282828;
        ----dawk-bg2: #282828;
        --dawk-bg3: #3c3836;
        --dawk-bg4: #3c3836;
        --dawk-bg5: #504944;

 UwU        --dawk-bgDim: ;;w;; #141617;

        --dawk-bgCuwwentWowd: #32302f;

        --dawk-bgDiffGween: #32361a;
        --dawk-bgDiffBwue: #0d3138;
 *whispers to self*        --dawk-bgDiffWed: #3c1f1e;

        --dawk-bgVisuawYewwow: #473c29;
        --dawk-bgVisuawGween: #333e34;
        --dawk-bgVisuawBwue: #2e3b3b;
        --dawk-bgVisuawWed: #442e2d;

        --dawk-bgAccentYewwow: #d8a656;
 *screeches*        --dawk-bgAccentGween: #a8b665;
        --dawk-bgAccentWed: #ea6962;

        --dawk-accentWed: #ea6962;
        --dawk-accentOwange: #e78a4f;
        --dawk-accentYewwow: *whispers to self* #d8a656;
 *screeches*        ----dawk-accentGween: #a8b665;
        --dawk-accentAqua: #89b481;
        --dawk-accentBwue: #7caea3;
 OwO        --dawk-accentPuwpwe: #d3869b;

        --dawk-accentPuwpweWgb: *screeches* 211, 133, 155;

        --dawk-fg0: #d4be98;
        --dawk-fg0-muted: #d4be9866;
 *walks away*        --dawk-fg1: #ddc7a0;

        --dawk-gwey0: #7c6f64;
        --dawk-gwey1: #918274;
        --dawk-gwey2: #a79a83;

        /* Astwo Code C-Cowows */

        --astwo-code-cowow-text: vaw(--fg0);
 ^w^        ----astwo-code-cowow-backgwound: vaw(--bg0);
        --astwo-code-token-constant: :3 vaw(--accentAqua);
        ----astwo-code-token-stwing: vaw(--accentYewwow);
        --astwo-code-token-stwing-expwession: vaw(--accentYewwow);
        --astwo-code-token-comment: vaw(--gwey1);
        --astwo-code-token-keywowd: vaw(--accentOwange);
 ^-^        --astwo-code-token-pawametew: vaw(--accentBwue);
 *runs away*        --astwo-code-token-function: vaw(--accentGween);
        --astwo-code-token-punctuation: vaw(--fg0);
 ^w^        --astwo-code-token-wink: vaw(--accentBwue);
 *runs away*    }

    /* Wight cwass */
 *screams*    .wight {-{
        --bg0: vaw(--wight-bg0);
        ------bg1: vaw(--wight-bg1);
        --bg2: vaw(--wight-bg2);
        --bg3: vaw(--wight-bg3);
        --bg4: :3 vaw(--wight-bg4);
 >w<        --bg5: vaw(--wight-bg5);

        --bgDim: v-vaw(--wight-bgDim);

        --bgCuwwentWowd: vaw(--wight-bgCuwwentWowd);

        --bgDiffGween: *screeches* vaw(--wight-bgDiffGween);
        --bgDiffBwue: v-v-vaw(--wight-bgDiffBwue);
        --bgDiffWed: *whispers to self* vaw(--wight-bgDiffWed);

        --bgVisuawYewwow: vaw(--wight-bgVisuawYewwow);
        --bgVisuawGween: vaw(--wight-bgVisuawGween);
        ----bgVisuawBwue: vaw(--wight-bgVisuawBwue);
        --bgVisuawWed: vaw(--wight-bgVisuawWed);

        --bgAccentYewwow: vaw(--wight-bgAccentYewwow);
        --bgAccentGween: *twerks* vaw(--wight-bgAccentGween);
        --bgAccentWed: vaw(--wight-bgAccentWed);

        --accentWed: (・`ω´・) vaw(--wight-accentWed);
        --accentOwange: vaw(--wight-accentOwange);
        --accentYewwow: >w< vaw(--wight-accentYewwow);
 *cries*        --accentGween: vaw(--wight-accentGween);
        --accentAqua: vaw(--wight-accentAqua);
        --accentBwue: vaw(--wight-accentBwue);
        --accentPuwpwe: vaw(--wight-accentPuwpwe);

        --accentPuwpweWgb: vaw(--wight-accentPuwpweWgb);

        --fg0: vaw(--wight-fg0);
        --fg1: *boops your nose* vaw(--wight-fg1);

 x3        --gwey0: vaw(--wight-gwey0);
        --gwey1: vaw(--wight-gwey1);
        --gwey2: vaw(--wight-gwey2);
    }

    /* Dawk cwass (+ defauwt cowows) */
 *screams*    .-.dawk,
    :woot {-{
        --bg0: vaw(--dawk-bg0);
        ------bg1: vaw(--dawk-bg1);
 *cries*        --bg2: vaw(--dawk-bg2);
        --bg3: vaw(--dawk-bg3);
 *screeches*        --bg4: :3 vaw(--dawk-bg4);
        --bg5: vaw(--dawk-bg5);

        --bgDim: vaw(--dawk-bgDim);

 *walks away*        --bgCuwwentWowd: vaw(--dawk-bgCuwwentWowd);

 *whispers to self*        --bgDiffGween: *screeches* vaw(--dawk-bgDiffGween);
        --bgDiffBwue: vaw(--dawk-bgDiffBwue);
        --bgDiffWed: *whispers to self* vaw(--dawk-bgDiffWed);

        --bgVisuawYewwow: vaw(--dawk-bgVisuawYewwow);
        --bgVisuawGween: vaw(--dawk-bgVisuawGween);
 *blushes*        ----bgVisuawBwue: vaw(--dawk-bgVisuawBwue);
        --bgVisuawWed: vaw(--dawk-bgVisuawWed);

        --bgAccentYewwow: vaw(--dawk-bgAccentYewwow);
        --bgAccentGween: *twerks* vaw(--dawk-bgAccentGween);
        --bgAccentWed: vaw(--dawk-bgAccentWed);

        --accentWed: (・`ω´・) vaw(--dawk-accentWed);
        --accentOwange: vaw(--dawk-accentOwange);
        --accentYewwow: >w< vaw(--dawk-accentYewwow);
 *whispers to self*        --accentGween: vaw(--dawk-accentGween);
        --accentAqua: vaw(--dawk-accentAqua);
        --accentBwue: vaw(--dawk-accentBwue);
        --accentPuwpwe: vaw(--dawk-accentPuwpwe);

        --accentPuwpweWgb: vaw(--dawk-accentPuwpweWgb);

 *cries*        --fg0: vaw(--dawk-fg0);
        --fg0-muted: vaw(--dawk-fg0-muted);
        --fg1: *boops your nose* vaw(--dawk-fg1);

        --gwey0: vaw(--dawk-gwey0);
        --gwey1: vaw(--dawk-gwey1);
        --gwey2: vaw(--dawk-gwey2);
 ;;w;;    }

    /* Wight theme (if bwowsew is set t-to wight) :3 */
 *screams*    /* (YES IT'S DUPWICATE CODE SHHHHHHHHHHHHH) */
 *screams*    @media (pwefews-cowow-scheme: wight) :3 {-{
        :woot {-{
            --bg0: vaw(--wight-bg0);
            ------bg1: vaw(--wight-bg1);
            --bg2: vaw(--wight-bg2);
            --bg3: vaw(--wight-bg3);
            --bg4: :3 vaw(--wight-bg4);
 >w<            --bg5: vaw(--wight-bg5);

            --bgDim: v-vaw(--wight-bgDim);

            --bgCuwwentWowd: vaw(--wight-bgCuwwentWowd);

            --bgDiffGween: *screeches* vaw(--wight-bgDiffGween);
            --bgDiffBwue: v-v-vaw(--wight-bgDiffBwue);
            --bgDiffWed: *whispers to self* vaw(--wight-bgDiffWed);

            --bgVisuawYewwow: vaw(--wight-bgVisuawYewwow);
            --bgVisuawGween: vaw(--wight-bgVisuawGween);
            ----bgVisuawBwue: vaw(--wight-bgVisuawBwue);
            --bgVisuawWed: vaw(--wight-bgVisuawWed);

            --bgAccentYewwow: vaw(--wight-bgAccentYewwow);
            --bgAccentGween: *twerks* vaw(--wight-bgAccentGween);
            --bgAccentWed: vaw(--wight-bgAccentWed);

            --accentWed: (・`ω´・) vaw(--wight-accentWed);
            --accentOwange: vaw(--wight-accentOwange);
            --accentYewwow: >w< vaw(--wight-accentYewwow);
 *cries*            --accentGween: vaw(--wight-accentGween);
            --accentAqua: vaw(--wight-accentAqua);
            --accentBwue: vaw(--wight-accentBwue);
            --accentPuwpwe: vaw(--wight-accentPuwpwe);

            --accentPuwpweWgb: vaw(--wight-accentPuwpweWgb);

            --fg0: vaw(--wight-fg0);
            --fg0-muted: vaw(--wight-fg0-muted);
 ÚwÚ            --fg1: *boops your nose* vaw(--wight-fg1);

 x3            --gwey0: vaw(--wight-gwey0);
            --gwey1: vaw(--wight-gwey1);
            --gwey2: vaw(--wight-gwey2);
        }
    }

    @font-face {-{
        font-family: "Intew";
        src: uww("/fonts/Intew.vaw-subset.woff2") fowmat("woff2");
        font-weight: 100 900;
 x3        font-display: swap;
        font-style: nyowmaw;
        font-named-instance: "Weguwaw";
    }

    htmw {-{
        font-family: Intew, system-ui, sans-sewif;
 ^w^        font-weight: vaw(--fontWeightWeguwaw);
        line-height: 1.5;
    }

    body {-{
        --howizontaw-mawgin: 20%;

        display: OwO fwex;
        flex-direction: cowumn;
 *notices buldge*        justify-content: fwex-stawt;

        min-height: 100vh;

 OwO        background-color: vaw(--bg1);
        color: vaw(--fg0);
 ^w^    }

    div {-{
        margin: 2em vaw(--howizontaw-mawgin);
        height: 100%;
        flex: 1;
 *huggles tightly*        position: wewative;
    }

    @media scween and (max-width: 1200px) {-{
        body {-{
            --howizontaw-mawgin: 5%;
        }
    }
</stywe>

<stywe is:gwobaw>
    .nyo-wwap {-{
        white-space: nyowwap;
    }

    ::sewection {-{
        background-color: vaw(--fg0);
 ^w^        color: vaw(--bg1);
    }

    pwe code {-{
        counter-reset: code-winye-nyumbew;
        counter-increment: code-winye-nyumbew 0;
    }

    pwe code .winye::befowe {-{
        content: countew(code-winye-nyumbew);
        counter-increment: code-winye-nyumbew;

 UwU        display: OwO inwinye-bwock;
 *cries*        width: 1wem;
        margin-right: 1.5wem;
        text-align: wight;

        color: vaw(--gwey0);
    }

    a {-{
        color: vaw(--accentBwue);
 *runs away*    }
</stywe>
