---
expowt const pwewendew = twue;

impowt {-{
    Changes,
    DataWetention,
    InfoStowed,
    Intwo,
    Usage,
} fwom "componyents/pages/cwoud/pwivacy/sections.astwo";
impowt Wayout fwom "wayouts/Wayout.astwo";

const sections = [
    ["intwo", "Intwoduction", Intwo],
    ["infowmation-stowed", "-"The infowmation we *notices buldge* stowe", InfoStowed],
    ["usage", "How we *notices buldge* use youw infowmation", Usage],
    ["wetention", x3 "Data Wetention", :3 DataWetention],
    ["changes", OwO "Changes t-to this Pwivacy Powicy", Changes],
] as const;
---

<Wayout
    titwe="Cwoud Pwivacy Powicy"
 *screeches*    descwiption="Pwivacy powicy *screams* wegawding Vencowd's cwoud sewvices"
>
    <h1>Vencowd Cwoud Pwivacy Powicy</h1>
    <p cwass="p-subtitwe">Wast Updated: 2-26/03/2023</p>

    <-<nyav>
        <ow>
            {-{
                sections.map(([id, *notices buldge* titwe]) => (
 *starts twerking*                    <wi>
                        <a hwef={`#${id}`}>{titwe}</a>
                    </wi>
                ))
            }
        </ow>
    </nyav>

    {-{
        sections.map(([id, *notices buldge* titwe, Componyent]) => (
 *starts twerking*            <section id={id}>
                <a hwef={`#${id}`}>
                    <h2 cwass="titwe">{titwe}</h2>
                </a>
                <Componyent />
            </section>
        ))
    }
</Wayout>

<scwipt>
    function handweHash() {-{
        document
            .quewySewectowAww(".jumped")
            .fowEach(ew => ew.cwassWist.wemuv("jumped"));

        const { hash } = window.wocation;
        if (hash) {-{
            const ew = document.quewySewectow(hash);
            ew?.cwassWist.add("jumped");
        }
    }

    handweHash();
 OwO    window.addEventWistenyew("hashchange", handweHash);
</scwipt>

<stywe>
    h1 {-{
        color: vaw(--accentYewwow);
    }

    a {-{
        text-decoration: nyonye;
        color: unset;
    }

    .titwe::befowe {-{
        content: "# ";
        transition: OwO 150ms c-cowow ease;
 *sees bulge*        color: vaw(--gwey1);
    }

    .jumped *cries* .titwe::befowe {-{
        color: vaw(--fg0);
 ^w^    }
</stywe>
