---
export const prerender = true;

import Link from "../../components/Link.astro";
import Layout from "../../layouts/Layout.astro";
import {
    Intro,
    InfoStored,
    Usage,
    DataRetention,
    Changes,
} from "../../components/cloud/privacy/sections.astro";

const sections = [
    ["intro", "Introduction", Intro],
    ["information-stored", "The information we store", InfoStored],
    ["usage", "How we use your information", Usage],
    ["retention", "Data Retention", DataRetention],
    ["changes", "Changes to this Privacy Policy", Changes],
] as const;
---

<Layout
    title="Vencord Cloud Privacy Policy"
    description="Privacy policy regarding Vencord's cloud services"
>
    <h1>Vencord Cloud Privacy Policy</h1>
    <h2>Last Updated: 26/03/2023</h2>

    <nav>
        <ol>
            {
                sections.map(([id, title]) => (
                    <li>
                        <Link href={`#${id}`}>{title}</Link>
                    </li>
                ))
            }
        </ol>
    </nav>

    {
        sections.map(([id, title, Component]) => (
            <section id={id}>
                <a href={`#${id}`}>
                    <h2 class="title">{title}</h2>
                </a>
                <Component />
            </section>
        ))
    }
</Layout>

<script>
    function handleHash() {
        document
            .querySelectorAll(".jumped")
            .forEach(el => el.classList.remove("jumped"));

        const { hash } = window.location;
        if (hash) {
            const el = document.querySelector(hash);
            el?.classList.add("jumped");
        }
    }

    handleHash();
    window.addEventListener("hashchange", handleHash);
</script>

<style>
    a {
        text-decoration: none;
        color: unset;
    }

    .title::before {
        content: "# ";
        transition: 150ms color ease;
    }

    .jumped .title::before {
        color: var(--accent);
    }
</style>
